@model WebStory.Models.Book


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetFirstBook</title>
</head>
<body>
    <div> 
        @Html.DisplayForModel();
    </div>
</body>
</html>
