
@using University.Models
@model List<Book>

@using (Html.BeginForm())
{
    for (int i = 0; i < Model.Count; i++)
    {
        <h4>Книга № @i+1</h4>
       @: Name: @Html.EditorFor(m => m[i].Name)
       @: Price: @Html.EditorFor(m => m[i].Price)
    }

        <input type="submit" value="Соранить" />
}



